/* navigation starts here */
.left {
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    gap: 10px;
    opacity: 0.5;
  }
    
  .right {
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    gap: 10px;
    opacity: 0.5;
  }

.arrows {
    display: flex;
    align-items: center;
    cursor: pointer;

  }

.heading{
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;


}

.leftbar{
    display: flex;
    align-items: center;
    width: 314px;
    height: 36px;
    top: 10px;
    /* left: 853px; */
    padding: 0px 8px 0px 8px;
    gap: 8px;
    margin-left: auto;
    cursor: pointer;

    
 }


 .community{
    display: flex;
    align-items: center;
    width: 128px;
    height:36px;
    padding: 8px;
    border-radius: 8px;
    gap: 4px;
    cursor: pointer;


}
.docs{
    display: flex;
    align-items: center;
    width: 78px;
    height: 36px;
    padding: 8px;
    border-radius: 8px;
    gap: 4px;
    cursor: pointer;


}
.help{
    display: flex;
    align-items: center;
    width: 76px;
    height: 36px;
    padding: 8px;
    border-radius: 8px;
    gap: 4px;
    cursor: pointer;

    
}
.lefttext{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    
}
.leftimage{
    width: 20px;
    height: 20px;
    /* padding: 2.5px 1.66px 2.49px 1.67px; */
    cursor: pointer;

}

.trigger {
    display: flex;
    align-items: center;
    height: 56px;
    left: 257px;
    padding: 10px 16px;
    border: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    
  }

  .campaign{
    display: flex;
    align-items: center;
    /* width: 145px;
    height: 28px; */
    top: 14px;
    left: 16px;
    gap: 8px;

  }
/* navigation ends here */
  
/* Sider begins here */

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:56px;
    padding: 12px 16px; /* Fixed padding */
    border-bottom: 1px solid #E6E6E6;
    gap: 8px; /* Gap between child elements: 8px */
    animation-timing-function: ease-out; /* Animation timing function */
    animation-duration: 500ms; /* Animation duration */
    
    
  }

  .logo-content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #222222 !important;
     animation-timing-function: ease-out; /* Animation timing function */
    animation-duration: 500ms; /* Animation duration */
    cursor: pointer;
    
  }
  
  .drop{
    width: 16px !important;
    height: 16px !important;
    font-size: 24px !important;
    /* padding: 5.49px 2.65px 4.67px 2.67px !important; */
   

  }

  .logo-button {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 16px;
    width: 32px; /* Fixed width */
    height: 32px; /* Fixed height */
    padding: 4px; /* Padding */
    gap: 10px; /* Gap between elements */
    border-radius: 4px; /* Border radius */
}


  /* .logo-button {
    display: flex;
    align-items: center;
    /* justify-content: center; /* Center horizontally */
    /* justify-content: flex-end;  */
    /* animation-timing-function: ease-out; Animation timing function */
    /* animation-duration: 500ms; Animation duration */
  /* } */ */


  .ant-layout {
    min-height: 1024px;
  }
  .user-name-text {
    color: #fff;
  }

  
  .menu-1 .ant-menu-item {
    align-items: center;
    font-weight: 500;
    color: #464646 !important; /* Default text color */
    width: 224px;
    height:40px;
    /* padding: 8px 12px 8px 12px; */
    gap: 12px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;


  }
  
  .menu-1 .ant-menu-item:hover {
    background-color: #e6e6e6;
  }
  
  .menu-1 .ant-menu-item:hover > a {
    color: #000000 !important;
  }
  
  .menu-1 .ant-menu-item-selected {
    background-color: #e6e6e6 !important; /* Change the background color of selected item */
    color: #000000 !important; /* Change the text color of selected item */
    font-weight: 600;
  }

  .ant-layout .ant-layout-sider {
    flex: 0 0 256px !important;
    max-width: 256px !important;
    min-width: 256px !important;
    width: 256px !important;
    border-right: 1px solid #E6E6E6;
    max-height: 1024px;
    /* background: #FDFDFD !important; */


  }
  
  .ant-layout .ant-layout-sider-collapsed {
    flex: 0 0 64px !important;
    max-width: 64px !important;
    min-width: 64px !important;
    width: 64px !important;
    border: 0px 1px 0px 0px !important;
  }
  



 
  /* Hide small logo when sider is collapsed */
  .ant-layout .ant-layout-sider-collapsed .logo .sm-logo {
    display: none;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    
  }
  
  /* Show large logo when sider is collapsed */
  .ant-layout .ant-layout-sider-collapsed .logo .lg-logo {
    display: block;
  }

  
.menu-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-1,
.menu-1 .ant-menu-item{
  width: 100%;
  
}



.menu-1{
    align-items: center;
    width: Hug (256px);
    height: Hug (204px);
    top: 56px;
    left: 0.19px;
    padding: 12px;
    border: 0px 0px 1px 0px !important;
    gap: 12px;
    border-bottom: 1px solid #E6E6E6;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    background: #FDFDFD;


    
    
}

/* 
.menu-2{
    width: Hug (256px);
    height: Hug (116px);
    top: 260px;
    padding: 12px;
    border: 0px 0px 1px 0px;
    gap: 12px;
    border-bottom: 1px solid #E6E6E6;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    


} */

.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon{
  margin-top: 8px !important;
}

.symbols{
  display: flex;
  align-items: center !important;

  width: 24px !important;
  height: 24px !important;
  /* padding: 8px 12px 8px 0px !important; */
  gap: 12px !important;
  
  
}



.user-name{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 8px;
    
}
   
.user-info-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: Fixed (256px);
    height: Hug (60px);
    /* top: 964px; */
    padding: 12px 16px 12px 16px;
    border: 1px 0px 0px 0px;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;

  }
  


.user-info {
  display: flex;
  align-items: center;
  /* justify-content: center; Center horizontally */
  justify-content: space-between;
}


  
  .user-photo {
    /* margin-right: 8px; */
  }
  
  .user-photo-img {
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
 
  }
  .dots{
    /* margin-left: auto; */
    margin-left: 48px;
    margin-bottom: 0px;
    padding-bottom: 2px;
  }
  
  
/* Sider ends here */


.logo-wrapper {
  position: relative; /* Ensure the logo wrapper remains in place */
  z-index: 999; /* Ensure the logo wrapper is above the overlay */
  background: #FDFDFD;

}

.ant-layout .ant-layout-sider .logo-wrapper{

  position: relative; /* Ensure the logo wrapper remains in place */
  z-index: 999; /* Ensure the logo wrapper is above the overlay */

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B1B1B1;
  opacity: 0.6;
  z-index: 998; /* Ensure the overlay is above other elements */
}


.main-dropdown-key{
  
  width: 280px;
  height:36px;
  padding: 6px 12px 6px 12px !important;
  gap: 8px;
  opacity: 0px;
  margin-left: -4px !important;

  animation-timing-function: ease-out;
  animation-duration: 300ms;
  font-family: Inter;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-align: left;
  color: #222222 !important;

}

.main-dropdown-key:hover{
  background: #E6E6E6;
  

}
.menu-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.blue-tick {
  margin-left: 8px; /* Adjust the spacing between text and image */
}

.dropdown-divider{
  border-top: 1px solid #E6E6E6;
}

.menu-item-content-2{
  display: flex;
  align-items: center;
}
.dropdown-icons{
  margin-right: 8px;
}

.main-dropdown{
  width: 280px;
height:225px;

padding: 2px 0px 2px 0px;
gap: 2px;
border-radius: 8px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: #F8F8F8;
border: 1px solid #E6E6E6
}

.menu-div{
  border-bottom: 1px solid #E6E6E6;
  margin: 0px;
}